.sideBarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sideBarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sideBarRow_icon{
    color: #606060;
    font-size: large !important;
}

.sideBarRow_title{
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sideBarRow:hover> .sideBarRow_icon{
    color: red;;
}
.sideBarRow:hover > .sideBarRow_title{
    font-size: bold;
}

.sideBarRow.selected> .sideBarRow_icon{
    color: red;;
}
.sideBarRow.selected > .sideBarRow_title{
    font-size: bold;
}

.sideBarRow.selected{
    background-color: lightgray;
}
